/**************
VARIABLES
 **************/
/* colors */
$background: #00242b;
$light-background: #0e3c45;
$strong-accent: #7DE38D;
$soft-accent: #3d984b;
/* fonts */
$body-text: 'Lato', sans-serif;
$title: 'alternative', sans-serif;
// $title: 'Titillium Web', sans-serif;
$terminal: 'Inconsolata', monospace;
// $terminal: 'Inconsolata', monospace;

@font-face {
  font-family: "alternative";
  src: url("hoog0553.ttf");
}
/**************
GENERAL
 **************/
/* site body */
body {
  background: $background;
  color: $strong-accent;
  font-family: $terminal;
}

a {
  text-decoration: none;
  color: $strong-accent;
}

img {
  max-width: 100%;
}

.icon {
  max-with: 100%;

  path {
    fill: $strong-accent;
  }
}

#wrapper {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 5%;
  height: 100%;

  p {
    text-align: left;
  }
}

#upper-bar {
  text-align: center;
  margin: 0;
}
/**************
HEADing
 **************/
/* dark, invisible header */
header {
  float: left;
  margin: 0 0 30px;
  padding: 5px 0 0;
  width: 100%;
}

h1 {
  font-family: $title;
  margin: 15px 0;
  font-size: 1.85em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-family: $title;
  margin: -5px 0 0;
  font-size: 0.75em;
}

h3 {
  font-family: $terminal;
  font-weight: 900;
  font-size: 1.25em;
  border-bottom: 1px dotted $strong-accent;
}
/**************
NAVIGATION
**************/
nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
  font-family: $title;

  ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;

    li {
      display: inline-block;

      a {
        font-weight: 900;
        padding: 15px 10px;
      }
    }
  }
}
/* links on the header */
nav a,
nav a:visited {
  color: #7de38d;
  font-weight: 900;
}
/* selected links on the header */
nav a.selected,
nav a:hover {
  color: $soft-accent;
}
/**************
Gallery
 **************/
#gallery {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    float: left;
    width: 45%;
    margin: 2.5%;
  }
}
/* #gallery li:nth-child(2n+1) {
clear: both;
} */
#gallery li .icon {
  max-height: 90px;
  display: block;
  margin: 0 auto;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: $soft-accent;
  text-align: center;
}
/**************
ABOUT
**************/
.avatar {
  max-width: 200px;
  display: block;
  margin: 0 auto 30px;
}
/**************
contacts
**************/
.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;

  a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
  }
}

.contact-info li.phone a {
  background-image: url("../img/mobile.svg");
}

.contact-info li.mail a {
  background-image: url("../img/at.svg");
}

.contact-info li.instagram a {
  background-image: url("../img/instagram.svg");
}
/**************
CV PAGE
**************/
.grid {
  max-width: 840px;
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-gap: 12px;

  .item {
    align-self: auto;
      align-self:center;
      align-items: center;

    .icon {
      max-height: 80px;

    }
  }
}

#intro {
  margin: 0 auto;
  text-align: center;

  img,
  svg {
    width: 30%;
    margin-top: 35px;
  }
}

#grid h3 {
  padding-top: 20px;
}
/* List of item: picture and paraghraph */
/**************
Under contructions
**************/
.temporary {
  margin: 0 auto;
  text-align: center;

  img,
  object {
    width: 50%;
    margin-top: 35px;
  }
}
/**************
 FOOTER
 **************/
footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 50px;
  clear: both;
}

.social.icon {
  width: 25px;
  height: 25px;
  margin: 0;
}
