@import "./fontawesome.scss";
@import "./duotone.scss";
@import "./light.scss";
@import "./solid.scss";
@import "./brands.scss";
@font-face {
  font-family: "alternative";
  src: url("../webfonts/hoog0553.ttf");

}
// VARIABLES
$title: 'alternative', sans-serif; // $title: 'Titillium Web', sans-serif;
$body-text: 'Inconsolata', sans-serif; // $terminal: 'Inconsolata', monospace;
$max-width: 980px;

//Colors
// Green_Screen
$background: #00242b;
$light-background: #0e3c45;
$strong-accent: #7DE38D;
$soft-accent: #288f5b;

// Alternative purple
// $soft-accent: #3c3fb4;
// $strong-accent: #bd33c4;
// $background: dark;

// Alternative christmas
// $soft-accent: #e0ab5a;
// $light-background: #2a6736;
// $strong-accent: #2c6037;
// $background: #c81c1c;
/**************
GENERAL
 **************/
* {
  background: $background;
  color: $strong-accent;
  font-family: $body-text;
  box-sizing: border-box;
  --fa-primary-color: blue;
  --fa-secondary-color: white;
}

.icon {
    fill:$strong-accent;
    .fa-primary {fill:$strong-accent;}
    .fa-secondary {fill:$soft-accent;}
  :hover {
    transition: 0.4s;
    .fa-primary {fill:$soft-accent;}
    .fa-secondary {fill:$strong-accent;}
  }}


#wrapper {
  max-width: $max-width;
  min-width: 300px;
  margin: 2.5% auto;
  padding: 0 2.5%;


}

p {
  line-height: 1.6em;
  text-align: justify;
}

a {

  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: $title;
}

h3 {
  border-bottom: 1px dashed;
}

/**************
UPPER_BAR
 **************/
/* dark, invisible header */
header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px,auto));
  margin-bottom: 15%;
  @media (min-width: 600px) { margin-bottom: 15%;}
}

#name_title {
  text-align: center;
  @media (min-width: 600px) { text-align: left; }
  text-decoration: none;

  h1,
  h2 {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 1.85em;
    font-weight: normal;
    letter-spacing: 0.03em;
  }

  h2 {
    font-size: 0.80em;
    line-height: 2em;
  }
}

nav.item {
  text-align:center;
  @media (min-width: 600px) { text-align: right; }
  padding: 10px 0 0;
  margin: 10px 0 0;
  align-self: end;

  ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
  }

  li {
    display: inline-block;

    a {
      font-family: $title;
      color: $soft-accent;
      padding: 0 10px;
      text-decoration: none;
    }
  }
}

.selected {
  background-color: $strong-accent;
  color: $background !important;
}
/**************
CV - Stuff I've Done
 **************/
.gallery {
  margin: 2px;
  display: grid;
  grid-template-columns: repeat(2, 187px);
  @media (min-width: 600px) { grid-template-columns: repeat(3, 187px);}
  grid-column-gap: 1em;
  grid-row-gap: 2em;
  justify-content: center;

  .item {

    .icon {
      height: 80px;
      display: block;
      margin: 0 auto;
      }

    p {
      text-align:center;
      margin: 2.5% 2.5%;
      padding: 0;
      font-size: 0.75em;
      color: $soft-accent;


    }
  }
}
/**************
ABOUT ME
**************/

.avatar {
  height: 200px;
  flex-grow: 0;
  background: $strong-accent;
  -webkit-clip-path: circle(90px at center);
  clip-path: circle(90px at center);
}

.avatar:hover {
  transition: 1s;
  -webkit-transform:rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);}


.about_me {
  margin: 0 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

.text-justified {
  max-width: 500px;

}
}

/**************
CONTACTS
**************/
.contacts {
  margin: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,auto));
  grid-column-gap: 5%;

  p {
    text-align: left;
    margin: 0;
  }

  .contact-info {
    padding-left: 0;
    display: grid;

    li {
      list-style: none;
      margin-bottom: 10px;
        .icon {
          height: 25px;
          vertical-align: middle;
          margin-right: 6px;
        }
      }
      .address {
        display: grid;
        grid-template-columns: auto 1fr;
      }


    }
  }

/**************
CV PAGE
**************/
#intro {
  max-width: 90%;
  margin: 0 auto;

  a {text-decoration: underline;}

  .icon {
    height: 90px;
    display: block;
    margin: 0 auto;
  }
}


.cards {
  margin: 50px 5% 5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, auto));

  justify-content: center;

  grid-gap: 2em;

  .card_header {
    display: grid;
    grid-template-columns: 65px minmax(165px,auto);
    grid-gap: 10px;
    align-items: center;

    .card_titles {
      display: grid;
      grid-template-rows: 1fr 1fr auto;
      border-left:1px dashed;

      .title {
        font-family: $title;
        font-size: 1.3em;
        padding-left: 5px;
      }

      .subtitle {
        border-bottom: 1px dashed;
        font-family: $title;
        font-size: 0.8em;
        padding-left: 5px;

      }

      .date {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-column-gap: 5%;
        padding: 2%;

        i {margin-right: 5px;}

        span {
          color: $soft-accent;
          text-align: justify;
          line-height: 1.25em;

        }
      }
    }
  }

    .text-justified {
      text-align: justify;
      line-height: 1.4em;
      a {
        text-decoration: underline;
      }
      @media (max-width: 415px) {display:none;}

    }
  }



/**************
Under contructions
**************/


.temporary {
  margin: 0 auto;
  text-align: center;

  svg {
    max-height: 300px;
  }
  p { text-align: center;}}



/**************
 FOOTER
 **************/
footer {
  margin-top: 15%;
  font-size: 0.75em;
  text-align: center;

  .icon {
    height: 25px;
    margin: 0 4px;
  }

  p {
    text-align: center;
    margin: 2px;
  }


}
